/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: #c2c2c2b7;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c2c2c2;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.08);
}

html {
  font: 400 16px "Inter", sans-serif;
  @apply bg-gray-100 h-screen;
}

.btn {
  @apply py-2 px-4 rounded-lg shadow-md focus:outline-none;
}
.btn-primary {
  @apply text-white bg-purple-600 hover:bg-purple-700;
}

.btn-outline {
  @apply border border-gray-300 bg-transparent text-base font-medium text-gray-700 hover:bg-gray-50;
}
